<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Withdraw</title>
	<link rel="stylesheet" href="/static_en/css/css.css">
</head>
<body class="bodybg">
	<div class="headerfix"><div class="back"><a href="javascript:;"><img src="/static_en/img/Icon-04.png" alt=""></a></div><h2>Withdraw</h2></div>
	
	<div class="withdraw">
		<div class="tabnav">
			<ul>
				<li class="on"><a href="javascript:;">Withdraw Now</a></li>
				<li><a href="/index/ctrl/deposit_admin">Withdraw records</a></li>
			</ul>
		</div>
		<div class="tabbox">
			<div class="li one on">
				<div class="t">
					<p><b>Total Balance</b></p>
					<h2>USDT {$user.balance}</h2>
					<p>*You will receive your withdrawal within an hour</p>
				</div>
			</div>
		</div>
		<div class="tabbox01">
			<div class="li one on">
				<div class="b">
					<h2>Withdraw Method</h2>
					<article>Withdrawal will be transferred to Exchange wallet</article>
					<form action="" method="post" name="withdraw">
						<div class="box">
							<div class="item"><p>Withdraw Amount</p><input type="text" name="amount" placeholder="Enter here" autocomplete="off"></div>
							<div class="item end"><p>Withdrawal Password</p><input type="password" name="pin" placeholder="Enter here" autocomplete="off"></div>
						</div>
						<button class="submit">Submit</button>
					</form>
				</div>
			</div>
			<div class="li two">
				<ul>
					<li>* You will receive your withdrawal within an hour</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footerfix">
		<ul>
			<li><a href="/index/index/home.html"><img src="/static_en/img/BG-019.png" alt=""><p>Home</p></a></li>
			<li class="starting"><a href="/index/rot_order/index"><div class="img"><img src="/static_en/img/BG-02.png" alt=""></div><p>Starting</p></a></li>
			<li><a href="/index/order/index.html"><img src="/static_en/img/BG-09.png" alt=""><p>Records</p></a></li>
		</ul>
	</div>
	
	<script type="text/javascript" src="/static_en/js/jquery.js"></script>
	<script type="text/javascript" src="/static_en/js/public.js"></script>
	<script type="text/javascript">
	/*	$('.withdraw .tabnav ul li').click(function(){
			var index=$(this).index();
			$(this).addClass('on').siblings().removeClass('on');
			$('.withdraw .tabbox .li').siblings().removeClass('on').eq(index).addClass('on');
		});*/
		
		$('.withdraw .submit').click(function(){
			confirmShow('Confirm the withdraw?？');
			return false;
		});
		
		$('.confirmsubmit').click(function(){
			confirmHide();
			
			var fm=document.withdraw;
			var amount=fm.amount.value;
			var pin=fm.pin.value;

			if(amount=='' || pin==''){
				msgShow('Withdrawal amount<br/>cannot be blank');
				return false;
			}
			
			$.ajax({
                        url: '/index/ctrl/do_deposit',
                        data: {paypassword:pin,money:amount},
                        type: 'POST',

                        success: function (data) {
                        	loadingShow();
                            if (data.code == 0) {
								 msgShow('{$Think.lang.with_q_ok}');
                                setTimeout(function () {
                                    window.location.href = '/index/my/index';
                                }, 2000);
                            } else {
							msgShow( data.info);
                         
                            }
                            loadingHide()
                        }
                    });
		});
	</script>
</body>
</html>