<!DOCTYPE html>
<html lang="en" class="deeppurple-theme">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <title></title>
    <!-- Material design icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Roboto fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/red/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link href="/red/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/red/style.css?v=V1.24" rel="stylesheet">
    <link rel="stylesheet" href="/static_new/css/public.css?v=V1.24">
    <!--<script async="" type="text/javascript" src="https://cdn.livechatinc.com/tracking.js"></script>-->
    <link href="/public/js/layer_mobile/need/layer.css?2.0" type="text/css" rel="styleSheet" id="layermcss"></head>
  
  <body class="">
    <div class="wrapper homepage" style="background:white">
      <!-- header -->
      <div class="header" style="backdrop-filter:none" >
        <div class="row no-gutters"style="backdrop-filter:none;background-image: linear-gradient(#FFFFFF, #D4E4FF);">
            <div class="col-auto">
            <a href="javascript:history.go(-1)" class="btn btn-link text-white">
              <i style="color:#52018e"  class="material-icons">chevron_left</i></a>
          </div>
          <div class="col text-center">
            <img src="/public/img/logo.png" style="width:4rem;" alt="" class="header-logo"></div>
          <div class="col-auto">
            <a href="/index/my/msg" class="btn  btn-link text-dark position-relative">
              <i class="material-icons"><span style="display:block;background:#f00;border-radius:50%;width:7px;height:7px;position:absolute;">1</span>notifications_none</i></a>
          </div>
        </div>
      </div>
      <!-- header ends -->
      <div class="container" style="margin-top:15px">
        <div class="row">
      </div>
      <div class="swiper-container card-slide swiper-container-horizontal swiper-container-ios" style="margin-top:-20px;">
      </div>
      </div>
      <div style="height:220px;padding: 10px;"> 
      <div style="height:20px;text-align:center;">{$Think.lang.tixian}</div>
          <marquee direction="up" scrollamount="2" style="height: 200px;font-size: 18px;text-align: center; background-image: linear-gradient(#FFFFFF, #D4E4FF);color:#000c;">
	          {volist name='datatx' id='vo'}
    				<p style="height: 10px;">{$Think.lang.yonghu}:***{$vo[0]}{$Think.lang.tixian}:{$vo[1]}</p><br>
    		{/volist}
	    </marquee>
      </div>
      <div style="height:220px;margin-top:10px;padding: 10px;">
          <div style="height:20px;text-align:center;">{$Think.lang.zhuanquyj}</div>
          <marquee direction="up" scrollamount="2" style="height: 200px;font-size: 18px;text-align: center; background-image: linear-gradient(#FFFFFF, #D4E4FF);color: #000c;;">
	          {volist name='datayj' id='vo'}
    				<p style="height: 10px;">{$Think.lang.yonghu}:***{$vo[0]}{$Think.lang.zhuanquyj}:{$vo[1]}</p><br>
    		{/volist}
	    </marquee>
      </div>
      <div style="height:220px;margin-top:10px;padding: 10px;">
         <div style="height:20px;text-align:center;"> {$Think.lang.chongzhi}</div>
          <marquee direction="up" scrollamount="2" style="height: 200px;font-size: 18px;text-align: center; background-image: linear-gradient(#FFFFFF, #D4E4FF);color: #000c;">
	          {volist name='datacz' id='vo'}
    				<p style="height: 10px;">{$Think.lang.yonghu}:***{$vo[0]}:{$Think.lang.chongzhi}:{$vo[1]}</p><br>
    		{/volist}
	    </marquee>
      </div>
      <!-- footer--> 
        {include file="public/floor" /}
      <!-- footer ends-->


            </div>
          </div>

    <!-- jquery, popper and bootstrap js -->
    <script src="/red/jquery-3.3.1.min.js"></script>
    <script src="/red/popper.min.js"></script>
    <script src="/red/bootstrap/js/bootstrap.min.js"></script>
    <!-- swiper js -->
    <script src="/red/swiper/swiper-bundle.min.js"></script>
    <!-- cookie js -->
    <script src="/red/jquery.cookie.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/public/js/layer_mobile/need/layer.css">
    <script src="/public/js/layer_mobile/layer.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
    
    <!-- template custom js -->
    <script src="/red/main.js?v=V1.24"></script>

  
  </body>

</html>