<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Withdrawal information </title>
	<link rel="stylesheet" href="/static_en/css/css.css">
</head>
<body class="bodybg">
	<div class="headerfix"><div class="back"><a href="javascript:;"><img src="/static_en/img/Icon-04.png" alt=""></a></div><h2>Withdrawal information </h2></div>
	
	<div class="withdrawalinfo">
		<div class="t">Dear user, in order to protect the security of your funds, please do not enter your bank account passwords, Our staff will not ask for your bank card password</div>
		<div class="form">
			<form action="" method="post" name="withdrawalinfo" onsubmit="return checkWithdrawa()">
			    <style>
			        .withdrawalinfo ul li select {
    line-height: 55px;
    height: 55px;
    background: none;
    text-align: right;
    flex: 1;
    font-size: 14px;
    color: #0d152c;
}
			    </style>
				<ul>
						<li><p>Recepient's name</p><input type="text" name="fullname" placeholder="Please enter your account name" autocomplete="off" value="{$info.username}"></li>
						<li><p>Bank</p><input type="text" name="bankname" placeholder="Please input the bank name" autocomplete="off" value="{$info.bankname}"></li>	
					<li><p>Account number</p><input type="text" name="cardnum" placeholder="Please input your bank account number" autocomplete="off" value="{$info.cardnum}"></li>
				
				</ul>
					<button type="submit">Save</button>
			</form>
		</div>
	</div>
	
	<script type="text/javascript" src="/static_en/js/jquery.js"></script>
	<script type="text/javascript" src="/static_en/js/public.js"></script>
	<script type="text/javascript">
		function checkWithdrawa(){
			var fm=document.withdrawalinfo;
			var fullname=fm.fullname.value;
				var bankname=fm.bankname.value;
// 			var trc20address=fm.trc20address.value;
			var exchange=fm.cardnum.value;
			//var phoneno=fm.phoneno.value;
			
			if(fullname=='' /*|| trc20address==''*/ || exchange=='' /*|| phoneno==''*/){
				msgShow('Please enter the <br/>complete bank information');
				return false;
			}
			
			/*if (!(/\d{8}$/.test(phoneno))) {
				msgShow('format error,plesas<br/>endter an 8-digit<br/>mobile phone<br/>number');
				fm.phone.focus();
				return false;
			}*/
			$.ajax({
              url: '/index/my/bind_bank',
              data: {username:fullname,id_number:exchange,bankname:bankname},
              type: 'POST',
              success: function(data) {
          
                if (data.code == 0) {
       
				  msgShow(data.info);
                  setTimeout(function() {
                    //window.location.reload();
                    window.history.back( - 1);
                  },
                  2000);
                } else {
                   msgShow(data.info);;
                }
              }
            });
		
			
			return false;
		}
	</script>
</body>
</html>