<!DOCTYPE html>
<html lang="en" class="deeppurple-theme">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <title>uBey APP Download apk</title>

    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Poppins:wght@300;400;500;600&amp;display=swap"> -->
    <link rel="stylesheet" href="/assets/fonticon/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/custom-animation.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-v4.1.3.min.css">
    <link rel="stylesheet" href="/assets/css/spacing.min.css">
    <link rel="stylesheet" href="/assets/css/mainmenu.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

<style type="text/css">.mx-tip-panel:focus{outline:0;} 
.mx_keyword{line-height:20px; color:#333333; font-size:14px; letter-spacing: 0.2px;font-family:PingFangSC-Semibold;}
.mx-scrollbar::-webkit-scrollbar{width:8px;height:1px;}
.mx-scrollbar{overflow-y:auto; max-height:380px; }
.mx-scrollbar::-webkit-scrollbar-thumb{border-radius:4px; background: #C0C0C0;}
.mx-scrollbar::-webkit-scrollbar-track{border-radius:4px; background: #eeeeee;}
.maxthon_tip{background-color:white; border:none;} .maxthon_tip:active{background-color: #E6F4FF;border:1px solid #449EFB; } .maxthon_tip:hover{background-color:#E6F4FF; border:1px solid #449EFB;}
</style></head>

<body>

    <div class="page-wrapper" id="Home" >

        <!-- Preloader -->
        <div class="preloader" style="display: none;"></div>

        <!--==================================================================== 
                            Start header area
    =====================================================================-->

        <header class="main-header fixed-header">

            <!--Header-Upper-->
            <div class="header-upper" >
                <div class="container-fluid clearfix">

                    <div class="header-inner clearfix">
                    <div class="logo-outer">
                       <div class="logo"><a href="index.html"><img src="/public/img/logo.png" style="width:6rem;margin-left:-10px;" alt="" title=""></a></div>
                        </div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg ml-md-auto">
                            <div class="navbar-header clearfix">
                                <div class="logo"><a href="index.html"><img src="/public/img/logo.png" style="width:6rem;margin-left:-10px;" alt="" title=""></a></div>
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-one">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse navbar-collapse-one collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class=""><a class="topLink" href="#Home">Start</a></li>
                                    <li class=""><a class="topLink" href="#about">ubey Group</a></li>
                                    <li class=""><a class="topLink" href="#Vision">Vision</a></li>
                                    <li class=""><a class="topLink" href="#Team">Excellent Team</a></li>
									<li class=""><a class="topLink" href="#FAQ">FAQ</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Menu buttons-->
                        <!-- <div class="menu-button ml-55">
                            <a href="#" class="theme-btn">Start Project</a>
                        </div>
						-->
                    </div>

                </div>
            </div>
            <!--End Header Upper-->

        </header>

        <!--==================================================================== 
                            End header area
    =====================================================================-->



        <!--==================================================================== 
							Start hero section
	=====================================================================-->
        <section class="hero-section rel pt-220 rpt-150 pb-130 rpb-0" >
            <div class="container" >
                <div class="row align-items-center" >
                    <div class="col-lg-7" >
                        <div class="hero-content my-50 current" style="margin-top:-50px;" >
                            <h3 class="wow customFadeInUp delay-0-1s slow" style="visibility: visible; animation-name: customFadeInUp;">uBeyApp's b2c E-commerce Alliance. Now there are part-time jobs and benefits.</h3>
                            <p class="wow customFadeInUp delay-0-3s slow" style="visibility: visible; animation-name: customFadeInUp;">Training is provided, no experience is required.</p>
                           
                            <a href="https://www.globalvip888.com/app/" class=" ml-25 mr-25 theme-btn topLink theme-btn btn-big wow customFadeInUp delay-0-5s slow" style="width:200px;padding:0;visibility: visible; animation-name: customFadeInUp;"><img src="/assets/img/android.png" alt="Shape"></a>
                             <a href="https://www.globalvip888.com/app/" class=" ml-25 mr-25 theme-btn topLink theme-btn btn-big wow customFadeInUp delay-0-5s slow" style="width:200px;padding:0;visibility: visible; animation-name: customFadeInUp;"><img src="/assets/img/ios.png" alt="Shape"></a>
				            <!--<a href="" class="mt-30 ml-25 mr-25 theme-btn topLink theme-btn btn-big wow customFadeInUp delay-0-5s slow" style="width:200px;padding:0;visibility: visible; animation-name: customFadeInUp;"> <img src="/assets/img/ios.png" alt="Shape"></a>-->
				            <h6 class="mt-30 ml-25 wow customFadeInUp delay-0-1s slow" style="visibility: visible; animation-name: customFadeInUp;">Welcome to ubeyApp, Members please download the uBey app To Sign In.</h6>
				            
                            <!--<a href="#down" class="topLink theme-btn btn-big wow customFadeInUp delay-0-5s slow" style="visibility: visible; animation-name: customFadeInUp;">Download do aplicativo</a>-->
                        </div>
                    </div>
                    <div class="col-lg-5" >
                        <div class="hero-img" >
                            <img src="/assets/img/hero/hero.png" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="shape shapeAnimationOne l-10 t-60" >
                <img src="/assets/img/shapes/shape1.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationTwo l-70 t-60">
                <img src="/assets/img/shapes/shape2.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationThree l-50 t-100">
                <img src="/assets/img/shapes/shape3.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
							End hero section
	=====================================================================-->


        <!--==================================================================== 
							Start services section
	=====================================================================-->
        <section class="services-section rel text-center mt-100 mb-70" style="margin-top:-30px;">
            <div class="container">
                <div class="row">

                    <!-- single-service -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-box style-three">
                            <div class="service-icon">
                                <img src="/assets/img/services/service1.png" alt="Service Icon">
                            </div>
                            <div class="service-content">
                                <h4><a href="#">March 2018</a></h4>
                                <p>uBey Group Founded</p>
                            </div>
                        </div>
                    </div>

                    <!-- single-service -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-box style-three">
                            <div class="service-icon">
                                <img src="/assets/img/services/service2.png" alt="Service Icon">
                            </div>
                            <div class="service-content">
                                <h4><a href="#">May,2018</a></h4>
                                <p>Ubey Group officially invested US$1 billion to join India in April 2018..</p>
                            </div>
                        </div>
                    </div>

                    <!-- single-service -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-box style-three">
                            <div class="service-icon">
                                <img src="/assets/img/services/service3.png" alt="Service Icon">
                            </div>
                            <div class="service-content">
                                <h4><a href="#">September 2016</a></h4>
                                <p>Registration Go up to 500K</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="shape shapeAnimationOne l-10 t-0">
                <img src="/assets/img/shapes/shape3.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationTwo t-100 r-5">
                <img src="/assets/img/shapes/shape1.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
							End services section
	=====================================================================-->



        <!--==================================================================== 
							Start About Section
	=====================================================================-->
        <section class="about-section rel mb-100" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content mr-20 rmr-0 rmb-50 wow customFadeInRight delay-0-1s slow" style="visibility: visible; animation-name: customFadeInRight;">
                            <div class="section-title mb-35">
                                <span class="sub-title">Sobre</span>
                                <h2>uBeyApp is a mutual assistance platform of B2C e-commerce alliance.</h2>
                            </div>
                            <p>Official partner of uBey and e-commerce company. Specializes in providing part-time help to sellers on the uBey e-commerce platform. As you know, e-commerce is expanding rapidly every year, and more and more sellers create seller accounts on uBey,</p>
                            <p>uBey promotes the sales and circulation of products for e-commerce merchants. We place orders and settle through uBey, and the merchants return the commission to the uBey account; uBey is a professional service for online merchants, with more than 500,000 members, and is an indispensable part of uBey. Now is a good time to join us.</p>
                  
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-image wow customFadeInLeft delay-0-1s slow" style="visibility: visible; animation-name: customFadeInLeft;">
                            <img src="/assets/img/about/about.png" alt="about image">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="shape shapeAnimationFour l-10 t-5">
                <img src="/assets/img/shapes/shape4.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationFive r-10 t-100 zm-1">
                <img src="/assets/img/shapes/shape2.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
							End About Section
	=====================================================================-->


        <!--==================================================================== 
            Start Our Success Section
        =====================================================================-->
        <section class="success-section pt-105 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box counted">
                            <i class="fas fa-star"></i>
                            <div class="count-wrap">
                                <span class="count-text" data-speed="5000" data-stop="78">82</span>
                                <p>Reward received</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box counted">
                            <i class="fas fa-smile-o"></i>
                            <div class="count-wrap">
                                <span class="count-text" data-speed="5000" data-stop="200">500</span>K
                                <p>Accredited member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box counted">
                            <i class="fas fa-users"></i>
                            <div class="count-wrap">
                                <span class="count-text plus" data-speed="5000" data-stop="120">160</span>
                                <p>Teams Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box counted">
                            <i class="fas fa-dollar"></i>
                            <div class="count-wrap">
                                <span class="count-text " data-speed="5000" data-stop="320">320</span>Million
                                <p>Get Investment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="success-bg"></div>
            <div class="shape shapeAnimationFour r-5 t-100">
                <img src="/assets/img/shapes/shape3.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
            End Our Success Section
        =====================================================================-->



        <!--==================================================================== 
							Start services two section
	=====================================================================-->
        <section class="services-two rel mb-115" id="Vision">
            <div class="container">
                <div class="service-inner" style="background-image:url(/assets/img/services/bg.png);">

                    <div class="section-title text-center mb-15">
                        <span class="sub-title">Vision</span>
                        <h3 class="mt-30">Become one of the most efficient e-commerce part-time work platforms  </h3>
						<h3>Help more people get rich</h3>
                    </div>

                    <div class="service-carousel owl-carousel owl-loaded owl-drag">
                           
                        

                        

                        
                        
                        

          

                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1050px, 0px, 0px); transition: 1s; width: 3500px;"><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two3.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Quality work done quickly</a></h4>
                                <p>Find the right freelancer to start working on your project in minutes.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two2.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Protected Payments</a></h4>
                                <p>Always know what you are going to pay in advance. Your payment is not released until you approve the work..</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two1.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">12/5 apoio</a></h4>
                                <p>Doubts? Our 12 hour support team is available to help anytime, anywhere.</p>
                            </div>
                        </div></div><div class="owl-item active" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two4.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">The best for every budget</a></h4>
                                <p>Find high quality services at every price point. No hourly rates, only project-based pricing.</p>
                            </div>
                        </div></div><div class="owl-item active" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two3.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Quality work done quickly</a></h4>
                                <p>Find the right freelancer to start working on your project in minutes.</p>
                            </div>
                        </div></div><div class="owl-item active" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two2.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Protected Payments</a></h4>
                                <p>Always know what you are going to pay in advance. Your payment is not released until you approve the work.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two1.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">12/5 support</a></h4>
                                <p>Doubts? Our 12-hour support team is available to help anytime, anywhere.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two4.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">The best for every budget</a></h4>
                                <p>Find high quality services at every price point. No hourly rates, only project-based pricing.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two3.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Quality work done quickly</a></h4>
                                <p>Find the right freelancer to start working on your project in minutes.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 20px;"><div class="service-style-two">
                            <div class="service-image">
                                <img src="/assets/img/services/s-two2.png" alt="Service Image">
                            </div>
                            <div class="service-two-content">
                                <h4><a href="#">Pagamentos protegidos</a></h4>
                                <p>Always know what you are going to pay in advance. Your payment is not released until you approve the work.</p>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                </div>
            </div>
            
            <div class="shape shapeAnimationThree b-40 l-10">
                <img src="/assets/img/shapes/shape1.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationFive b-5 l-5">
                <img src="/assets/img/shapes/shape3.png" alt="Shape">
            </div>
            <div class="shape left-right r-10 b-30">
                <img src="/assets/img/shapes/shape5.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationOne r-10 b-0">
                <img src="/assets/img/shapes/shape2.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
							End services two section
	=====================================================================-->



        <!--==================================================================== 
							Start team section
	=====================================================================-->
        <section class="team-section rel mb-65" id="Team">
            <div class="container">
                <div class="section-title mb-35 pr-65">
                    <span class="sub-title">Excellent Team</span>
                    <h2>Our Qualified Member Whose Efforts <br>Lead us on this path</h2>
                </div>

                <div class="team-carousel owl-carousel text-center owl-loaded owl-drag">

                    
                    
                    
                    
                    
                    
                    
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2636px, 0px, 0px); transition: 1s; width: 4521px;"><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team1.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Diego Rodríguez de Silva Velásquez</h5>
                            <h6>Fundador</h6>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team2.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Fahima Akon</h5>
                            <h6>Co-Fundador</h6>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team3.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Neymar Julio</h5>
                            <h6>Desenvolvedor</h6>
                        </div>
                    </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team1.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                               <!-- <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a> -->
                            </div>
                            <h5>Diego Rodríguez de Silva Velásquez</h5>
                            <h6>Fundador</h6>
                        </div>
                    </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team2.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Fahima Akon</h5>
                            <h6>Co-Fundador</h6>
                        </div>
                    </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team3.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Neymar Julio</h5>
                            <h6>Desenvolvedor</h6>
                        </div>
                    </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team1.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Diego Rodríguez de Silva Velásquez</h5>
                            <h6>Fundador</h6>
                        </div>
                    </div></div><div class="owl-item active" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team2.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Fahima Akon</h5>
                            <h6>Co-Fundador</h6>
                        </div>
                    </div></div><div class="owl-item active" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team3.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Neymar Julio</h5>
                            <h6>Desenvolvedor</h6>
                        </div>
                    </div></div><div class="owl-item cloned active" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team1.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                               <!-- <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a> -->
                            </div>
                            <h5>Diego Rodríguez de Silva Velásquez</h5>
                            <h6>Fundador</h6>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team2.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Fahima Akon</h5>
                            <h6>Co-Fundador</h6>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="team-item">
                        <img src="/assets/img/team/team3.png" alt="Team Image">
                        <div class="service-two-content">
                           <div class="social-link-icon">
                            </div>
                            <h5>Neymar Julio</h5>
                            <h6>Desenvolvedor</h6>
                        </div>
                    </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="flaticon-left-arrow"></span></button><button type="button" role="presentation" class="owl-next"><span class="flaticon-right-arrow"></span></button></div><div class="owl-dots disabled"></div></div>
            </div>
            
            <div class="shape shapeAnimationThree b-30 r-10">
                <img src="/assets/img/shapes/shape1.png" alt="Shape">
            </div>
            <div class="shape shapeAnimationTwo t-90 l-10">
                <img src="/assets/img/shapes/shape4.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
							End team section
	=====================================================================-->




        <!--==================================================================== 
							Start FAQ section
	=====================================================================-->
        <section class="faq-section mb-90" id="FAQ">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="faq-image">
                            <img src="/assets/img/faq.png" alt="FAQ">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="faq-wrap ml-50 rml-0">
                            <div class="section-title mb-40">
                                <span class="sub-title">FAQ</span>
                                <h2>Free FAQ</h2>
                            </div>
                            <div id="accordion" class="faq-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                                            <i class="fas fa-angle-down"></i>
                                           What is uBeyApp?
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                           E-commerce is revolutionizing the way we shop. When you can find the latest mobile phone on the Internet with just one click, why do you skip from one store to another? Not just mobile phones. UbeyApp has everything you can imagine, from trend-setting electronics (such as laptops, tablets, smartphones and mobile accessories) to stylish staples such as shoes, clothing and lifestyle accessories; from sofas, dining tables and wardrobes From modern furniture to washing machines, TVs, air conditioners, blenders and other time-saving kitchen appliances and small appliances that make your life easier; from household items such as pillowcases, mattresses and sheets to toys and musical instruments, we have everything. Say what you want, and you will definitely find them here. For people with irregular working hours, UbeyApp is your best choice. Buy from your PC at night or night. This e-commerce will never close.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
                                            <i class="fas fa-angle-down"></i>
                                            How does uBeyApp lead us to make money?
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            The uBeyApp store owner (seller) needs to increase store sales, so we only need to complete the uBeyApp store requirements and complete the order in uBeyApp. The owner will give us a commission. Each uBeyApp user can receive 8-15 order tasks per day. You can earn 5% to 30% commissions in one day.
Suppose you use 3.00 BRL to help the store owner complete the task. Then, after completing the task, the shopkeeper will give you 200 BRL----- 1,500 BRL. The more investment, the higher the commission. After completing the task every day, you can withdraw the principal and commission to your bank account together.
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="card">
                                    <div class="card-header">
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                                           <i class="fas fa-angle-down"></i>
                                           Are my uBeyApp funds safe?
                                        </button>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            It has the most advanced bancassurance system. Each user will receive an insurance limit of up to 3 million reais from the Brazilian bank. Every day, the user's funds will be transferred to the relevant bank account. The bank will also provide uBeyApp users with the highest degree of insurance fund protection every day. You can view the policy on the APP.
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==================================================================== 
							End FAQ section
	=====================================================================-->


        <!--==================================================================== 
                            Start Call For Action section
    =====================================================================-->
       <section class="call-for-action rel text-center" id="down">
           <div class="container">
               <div class="call-action-content">
                   <h2>Thank you!</h2>
                   <p> Thank you for getting to know uBeyApp, we will bring you more wealth</p>
                 
                   
                   <a href="" class="mt-50 ml-25 mr-25 theme-btn" style="width:200px;padding:0"><img src="/assets/img/android.png" alt="Shape"></a>
				   <a href="" class="mt-50 ml-25 mr-25 theme-btn" style="width:200px;padding:0"> <img src="/assets/img/ios.png" alt="Shape"></a>
               </div>
           </div>
           
            <div class="shape shapeAnimationThree l-10 t-50">
                <img src="/assets/img/shapes/shape2.png" alt="Shape">
            </div>
       </section>
        <!--==================================================================== 
							End Call For Action section
	=====================================================================-->



    <!--==================================================================== 
                            Start footer section
    =====================================================================-->
        <footer class="footer-section mt-125">
          
            <!--Copyright-->
            <div class="footer-bottom">
                <div class="copyright">Copyright @2018 uBey All Rights Reserved</div>
            </div>
        </footer>


        <!--==================================================================== 
                            End footer section
    =====================================================================-->

        <!-- Scroll Top Button -->
        <button class="scroll-top scroll-to-target" data-target="html" style="display: inline-block;">
            <span class="fas fa-angle-up"></span>
        </button>

    </div>



    <!--====================================================================
                            Include All Js File 
     ====================================================================-->
    <!-- All Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap-v4.1.3.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.countTo.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/main.js"></script>
	<script>
	$(document).ready(function() {
	  $("a.topLink").click(function() {
		$(".navigation").children().attr("class","");
	    $(this).parent().addClass("current");
		
		$("html, body").animate({
		  scrollTop: $($(this).attr("href")).offset().top-150 + "px"
		}, {
		  duration: 500,
		  easing: "swing"
		});
		return false;
	  });
	});
	</script>



</body></html>