<!DOCTYPE html>
<html lang="en" class="deeppurple-theme">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <title>{$Think.lang.kf_title}</title>
    <!-- Material design icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Roboto fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!--<link href="/red/roboto/css.css" rel="stylesheet">-->
    <!-- Bootstrap core CSS -->
    <link href="/red/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link href="/red/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/red/style.css?v=V1.24" rel="stylesheet">
    <link rel="stylesheet" href="/static_new/css/public.css?v=V1.24">
    <script src="/build/pdf.js"></script>
    <script src="/web/viewer.js"></script>
    <link rel="stylesheet" href="/web/viewer.css">
    <script async="" type="text/javascript" src="https://cdn.livechatinc.com/tracking.js"></script>
  </head>
  
  <body class="">
    <div class="wrapper homepage">
      <!-- header -->
      <div class="header" style="backdrop-filter:none">
        <div class="row no-gutters">
          <!--<div class="col-auto">-->
          <!--  <button class="btn btn-link text-white">-->
          <!--    <i class="material-icons">menu</i>-->
          <!--    <span class="new-notification"></span>-->
          <!--  </button>-->
          <!--</div>-->
          <div class="col text-center">
            <!--<img src="/red/logo-header.png" alt="" class="header-logo">--></div>
          <div class="col-auto">
            <a href="/index/my/msg" class="btn  btn-link text-white position-relative">
              <i class="material-icons" style="color:black !important">notifications_none</i></a>
          </div>
        </div>
      </div>
      <!-- header ends -->
      <div class="container bg-template mb-5 pb-5" style="backdrop-filter:none;background-image: linear-gradient(#FFFFFF, #D4E4FF);color:black !important">
        <div class="row">
          <div class="col text-center">
            <h5 class="subtitle mb-1">{$Think.lang.onekefu}</h5>
            <p class=""></p>
          </div>
        </div>
      </div>
      <!--<div class="container">-->
      <!--  <div class="row text-center">-->
      <!--    <div class="col-12 col-md-3">-->
      <!--      {volist name='list' id='v' offset="0" length='2'}  -->
      <!--      <div class="card shadow border-0 mb-3">-->
      <!--          <a href="{$v.url}">-->
      <!--        <div class="card-body">-->
      <!--          <div class="avatar avatar-60 no-shadow border-0">-->
      <!--            <div class="overlay bg-template"></div>-->
      <!--            <i class="material-icons vm md-36 text-template">question_answer</i></div>-->
      <!--          <p class="mt-3 mb-0 font-weight-normal text-dark">-->
                  
      <!--              <img src="/public/img/time.png" style="width: 14px; margin-right: 5px" alt="">-->
      <!--              <span style="position: relative;top:1px">{$v.btime}-{$v.etime}</span>-->
                  
      <!--          </p>-->
      <!--        </div>-->
      <!--        </a>-->
      <!--      </div>-->
      <!--      {/volist}-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<iframe src="http://29.wzweb.in/web/viewer.html?file=Submarino.pdf" width="100%" height="400px"></iframe>-->
      <img style="margin-left:10px" src="/public/img/1.png">
      <img style="margin-left:10px" src="/public/img/2.png">
      <img style="margin-left:10px" src="/public/img/3.png">
      <img style="margin-left:10px" src="/public/img/4.png">
      <img style="margin-left:10px" src="/public/img/5.png">
      <img style="margin-left:10px" src="/public/img/6.png">
      <img style="margin-left:10px" src="/public/img/7.png">
      <img style="margin-left:10px" src="/public/img/8.png">
      <img style="margin-left:10px" src="/public/img/9.png">
      <img style="margin-left:10px" src="/public/img/10.png">
      <img style="margin-left:10px" src="/public/img/11.png">
      <img style="margin-left:10px" src="/public/img/12.png">
      <img style="margin-left:10px" src="/public/img/13.png">
      <img style="margin-left:10px" src="/public/img/14.png">
      <img style="margin-left:10px" src="/public/img/15.png">
      <img style="margin-left:10px" src="/public/img/16.png">
      <img style="margin-left:10px" src="/public/img/17.png">
      <!-- footer-->
      <div class="footer">
        <div class="no-gutters">
          <div class="col-auto mx-auto">
            <div class="row no-gutters justify-content-center">
              <div class="col-auto">
                <a href="/index/index/home.html" class="btn btn-link-default">
                  <i class="material-icons">home</i>
                  <!--<p>Pagina inicial</p>--></a>
              </div>
              <div class="col-auto">
                <a href="/index/order/index.html" class="btn btn-link-default">
                  <i class="material-icons">playlist_add_check</i>
                  <!--<p>Histórico de encomendas</p>--></a>
              </div>
              <!--<div class="col-auto">-->
              <!--  <a href="/index/rot_order/index.html" class="btn btn-link-default">-->
              <!--    <i class="material-icons">swipe</i>-->
                  <!--<p>Realizar tarefas</p></a>-->
              <!--</div>-->
              <div class="col-auto">
                <a href="/index/support/index.html" class="btn btn-link-default active">
                  <i class="material-icons">chat</i>
                  <!--<p>CS</p>--></a>
              </div>
              <div class="col-auto">
                  <a href="/index/my/index.html" class="btn btn-link-default">
                    <i class="material-icons">person</i>
                    <!--<p>minha</p>--></a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer ends-->
      <!-- Start of LiveChat (www.livechatinc.com) code -->
      <script>window.__lc = window.__lc || {};
        window.__lc.license = 12620844;; (function(n, t, c) {
          function i(n) {
            return e._h ? e._h.apply(null, n) : e._q.push(n)
          }
          var e = {
            _q: [],
            _h: null,
            _v: "2.0",
            on: function() {
              i(["on", c.call(arguments)])
            },
            once: function() {
              i(["once", c.call(arguments)])
            },
            off: function() {
              i(["off", c.call(arguments)])
            },
            get: function() {
              if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load.");
              return i(["get", c.call(arguments)])
            },
            call: function() {
              i(["call", c.call(arguments)])
            },
            init: function() {
              var n = t.createElement("script");
              n.async = !0,
              n.type = "text/javascript",
              n.src = "https://cdn.livechatinc.com/tracking.js",
              t.head.appendChild(n)
            }
          }; ! n.__lc.asyncInit && e.init(),
          n.LiveChatWidget = n.LiveChatWidget || e
        } (window, document, [].slice))</script>
      <noscript>
        <a href="https://www.livechatinc.com/chat-with/12620844/" rel="nofollow">Chat with us</a>, powered by
        <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
      <!-- End of LiveChat code -->
      <!--tj--></div>
    <!-- jquery, popper and bootstrap js -->
    <script src="/red/jquery-3.3.1.min.js"></script>
    <script src="/red/popper.min.js"></script>
    <script src="/red/bootstrap/js/bootstrap.min.js"></script>
    <!-- swiper js -->
    <script src="/red/swiper/swiper-bundle.min.js"></script>
    <!-- cookie js -->
    <script src="/red/jquery.cookie.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
    <!-- template custom js -->
    <script src="/red/main.js?v=V1.24"></script>
    <!-- page level script -->
    <script>$(function() {
        // $('.footer').find('.btn-link-default').eq(3).addClass("active");

        $('.tabs_btn1').click(function() {
          $(document).dialog({
            type: 'confirm',
            titleText: "Tem certeza de que quer sair?",
            buttonTextConfirm: "confirme",
            buttonTextCancel: "cancelar",
            autoClose: 0,
            onClickConfirmBtn: function() {
              window.location.href = "/index/user/logout.html";
            },
            onClickCancelBtn: function() {

}
          });
        });
      });</script>
  </body>

</html>