{extend name='main'}

{block name="button"}

{if auth("add_users")}
<button data-modal='{:url("add_users")}' data-title="添加会员" class='layui-btn'>添加会员</button>
{/if}

{/block}

{block name="content"}
<style>
    .layui-table-cell{
   height:auto;
   overflow:visible;
   text-overflow:inherit;
   white-space:normal;
 }

</style>
<script>
    // 复制剪切板
function copyContent(content) {
    var oInput = document.createElement('input');
    oInput.value = content;
    document.body.appendChild(oInput);
    oInput.select(); // 选择对象
    document.execCommand("Copy"); // 执行浏览器复制命令
    oInput.className = 'oInput';//设置class名
    document.getElementsByClassName("oInput")[0].remove();//移除这个input
    layer.msg('复制成功！', {icon: 1, time: 3000});
};

</script>
<div class="think-box-shadow">
    {include file='users/index_search'}
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'checkbox',width:80}" class='text-left nowrap'><input type="checkbox"></th>
            <th lay-data="{field:'id',width:80}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'tel',width:180}" class='text-left nowrap'>账号 等级 用户名</th>
            <!-- <th lay-data="{field:'username'}" class='text-left nowrap'>(等级)用户名</th>  -->
            <th lay-data="{field:'balance',width:150 ,sort:true}" class='text-left nowrap'>
                账户余额
            </th>
            <!-- <th lay-data="{field:'parent_name'}" class='text-left nowrap'>上级用户</th> -->
            <!--<th lay-data="{field:'username3'}" class='text-left nowrap'>业务员归属</th>-->
            <!-- <th lay-data="{field:'childs'}" class='text-left nowrap'>直推人数</th> -->
            <!-- <th lay-data="{field:'freeze_balance'}" class='text-left nowrap'>冻结金额</th> -->
            <!-- <th lay-data="{field:'lixibao_balance',sort:true}" class='text-left nowrap'>利息宝金额</th> -->

            <th lay-data="{field:'invite_code',width:130 }" class='text-left nowrap'>邀请码</th>
            <th lay-data="{field:'order_num',width:100 }" class='text-left nowrap'>今日订单数</th>
                    <th lay-data="{field:'beizhu',width:300 }" class='text-left nowrap'>订单备注</th>
            <!-- <th lay-data="{field:'gender'}" class='text-left nowrap'>性别</th> -->
            <th lay-data="{field:'addtime',width:200}" class='text-left nowrap'>注册时间</th>
            <th lay-data="{field:'lixibao_balance'}" class='text-left nowrap'>登陆ip</th>
            <th lay-data="{field:'ip'}" class='text-left nowrap'>最后交易日期</th>
            <!--  -->
            <th lay-data="{field:'edit',width:430,fixed: 'right',style:'height:120px;top:-16px'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr style="height:200px">
            <td class='text-left nowrap'><input type="checkbox" name="hobby" value="{$vo.id}" checked></td>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>账号：{$vo.tel}
                <br/>用户名：<span class='layui-btn layui-btn-xs layui-btn-warm' align='left'>{$vo.level}</span>&nbsp;{$vo.username}
                <br/>上级用户：{$vo.parent_name}
                </td> 
            <td class='text-left nowrap'>余额：
                <?php
                  
                        echo $vo['balance'];
                    
                ?><br/>
                冻结金额：{$vo.freeze_balance}
                <!--
                <?php
                
                    if($vo['level']==1){
                        echo $vo['balance']-500;
                    }
                    elseif($vo['level']==0){
                        echo $vo['balance'];
                    }
                    elseif($vo['level']==2){
                        echo $vo['balance']-1000-500;
                    }
                    elseif($vo['level']==3){
                        echo $vo['balance']-3500-1000-500;
                    }
                    elseif($vo['level']==4){
                        echo $vo['balance']-8000-3500-1000-500;
                    }
                    elseif($vo['level']==5){
                        echo $vo['balance']-20000-8000-3500-1000-500;
                    }
                    elseif($vo['level']==6){
                        echo $vo['balance']-42000-20000-8000-3500-1000-500;
                    }
                    elseif($vo['level']==7){
                        echo $vo['balance']-98000-42000-20000-8000-3500-1000-500;
                    }
                    elseif($vo['level']==8){
                        echo $vo['balance']-158000-98000-42000-20000-8000-3500-1000-500;
                    }
                ?>
                -->
            </td>
            <!-- <td class='text-left nowrap'>{$vo.parent_name}</td> -->
            <!--<td class='text-left nowrap'>{$vo.username3}</td>-->
            <!-- <td class='text-left nowrap'>{$vo.childs}</td> -->
            <!-- <td class='text-left nowrap'>{$vo.freeze_balance}</td> -->
            <!-- <td class='text-left nowrap'>{$vo.lixibao_balance}</td> -->
            <td class='text-left nowrap' onclick="copyContent('{$vo.invite_code}')"><label onclick="copyContent('{$vo.invite_code}')" class="layui-btn layui-btn-normal">{$vo.invite_code}</label>
            <br/>
            直推人数：{$vo.childs}</td>
            <td class='text-left nowrap'>{$vo.deal_count|default=0}/{$vo.order_num}</td> <td class='text-left nowrap'>{$vo.beizhu}</td>
            <!--{//$vo.con_num}{//$vo.order_num}-->
             <!-- <td class='text-left nowrap'>
                {eq name="vo.gender" value="0"}男{else/}女{/eq}
            </td> -->
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
         <td class='text-left nowrap'>{$vo.login_ip}</td>
            <td class='text-left nowrap'>{$vo.deal_time|format_datetime}</td>
            
            <!-- <td class='text-left nowrap'>
                {if $vo.is_jia>0}
                <a class="layui-btn layui-btn-danger layui-btn-xs" >假人</a>
                {else}
                <a class="layui-btn layui-btn-normal layui-btn-xs" >真人</a>
                {/if}

            </td> -->
             <td class='text-left nowrap'>
               
                <!--<a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="暗扣设置" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>暗扣设置</a>-->
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/credit_score")}?id={$vo.id}'>信用分设置</a>
                {if auth("edit_users_ankou")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="加扣款" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>加扣款</a>
                {/if}
                {if auth("ka_users")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/ka_users")}?id={$vo.id}'>卡单设置</a>
                {/if}
                {if auth("edit_info")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_info")}?id={$vo.id}'>单数模式</a>
                {/if}
                {if auth("edit_users_address")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="银行卡信息" data-modal='{:url("admin/users/edit_users_bk")}?id={$vo.id}'>结算卡</a>
                {/if}
                {if auth("edit_users")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.id}'>基础资料</a>
                {/if}
                {if auth("tuandui")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="查看团队" data-reload="true" data-open='{:url("admin/users/tuandui")}?id={$vo.id}'>查看团队</a>
                <br/>
                {/if}
                {if auth("edit_users_order")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_order',['id'=>$vo.id])}" data-value="id#{$vo.id};status#2" data-confirm="是否重置今天任务量？" style='background:red;'>重置今天任务量</a>
                {/if}
                {if auth("caiwu")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看账变" data-reload="true" data-open='{:url("admin/users/caiwu")}?id={$vo.id}'>账变信息</a>
                {/if}
                {if auth("edit_password")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="修改登陆密码" data-modal='{:url("admin/users/edit_password")}?id={$vo.id}&type=1'>修改登陆密码</a>
                {/if}
                {if auth("edit_pay_password")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="修改支付密码" data-modal='{:url("admin/users/edit_password")}?id={$vo.id}&type=2'>修改支付密码</a>
                {/if}
                    
                {if ($vo.status == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>
                {elseif ($vo.status == 2) and auth("edit_users_status") /}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>启用</a>
                {/if}
    {if ($vo.is_jia == 1) and auth("edit_users_status")}
          <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>-1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#-1" style='background:red;'>设为真人</a>
            {else/}
           <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>设为假人</a>          {/if}
                   {if auth("edit_users_bank")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="银行卡信息" data-modal='{:url("admin/users/edit_users_bank")}?id={$vo.id}'>银行卡信息</a>
                {/if}
                  {if auth("beizhu")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="修改备注" data-modal='{:url("admin/users/beizhu")}?id={$vo.id}&type=1'>修改备注</a>
                {/if}
<a data-dbclick class="layui-btn layui-btn-xs layui-btn-warm" data-title="修改备注" data-modal='{:url("admin/users/gugekouling")}?id={$vo.id}&type=1'>谷歌口令</a>
            </td>
          <!--     <td class='text-left nowrap'>-->
            <!--    {if auth("edit_users")}-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="暗扣设置" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>暗扣设置</a>-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/ka_users")}?id={$vo.id}'>卡单设置</a>-->
            <!--    <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_order',['id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>重置任务量</a>-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_info")}?id={$vo.id}'>单数模式</a>-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.id}'>编 辑</a>-->

            <!--    {if ($vo.status == 1) and auth("edit_users_status")}-->
            <!--    <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>-->
            <!--    {elseif ($vo.status == 2) and auth("edit_users_status") /}-->
            <!--    <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>启用</a>-->
            <!--    {/if}-->

 

            <!--    <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="跟进记录" data-modal='{:url("admin/users/edit_users_genjin")}?id={$vo.id}&tel={$vo.tel}'>跟进记录</a>-->

            <!--    <a data-dbclick class="layui-btn layui-btn-xs" data-title="银行卡信息" data-modal='{:url("admin/users/edit_users_bk")}?id={$vo.id}'>银行卡信息</a>-->
                
            <!--    <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="收货地址信息" data-modal='{:url("admin/users/edit_users_address")}?id={$vo.id}'>地址信息</a>-->

            <!--    <a class="layui-btn layui-btn-xs layui-btn" onClick="del_user({$vo.id})" style='background:red;'>删除</a>-->

            <!--    {/if}-->
            <!--    <a class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_users_ewm',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#{$vo.invite_code}" style='background:red;'>刷新二维码</a>-->

            <!--    {if auth("tuandui")}-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="查看团队" data-reload="true" data-open='{:url("admin/users/tuandui")}?id={$vo.id}'>查看团队</a>-->
            <!--    <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看账变" data-reload="true" data-open='{:url("admin/users/caiwu")}?id={$vo.id}'>账变</a>-->
            <!--    {/if}-->

       

           <!--   </td>-->
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        function del_user(id){
            layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('delete_user')}",
                    data: {
                        'id': id,
                        '_csrf_': "{:systoken('admin/users/delete_user')}"
                    },
                    success:function (res) {
                        layer.msg(res.info,{time:2500});
                        location.reload();
                    }
                });
            },function(){});
        }
    </script>
    <script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}'); 
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });
    </script>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
